@charset "UTF-8";
/***** css set*****/
　　body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

　　table {
  border-collapse: collapse;
  border-spacing: 0;
}

　　fieldset, img {
  border: 0;
}

　　address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

　　ol, ul {
  list-style: none;
}

　　capation, th {
  text-align: left;
}

　　h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

　　q:before, q:after {
  content: ' ';
}

　　abbr, acronym {
  border: 0;
}

html {
  min-width: 1000px;
  min-height: 100%;
}

body {
  font-size: 12px;
  font-family: '微软雅黑';
  color: #666;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.blueBg {
  background: #4ba5ff;
}

.warningBg {
  background: #db6b80;
}

/*********** common ***********/
.wrapper {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  height: 70px;
  background: #095eb3;
  clear: both;
}
.header .wrapper {
  padding: 0 10px;
  height: 70px;
}
.header .header-left {
  width: 300px;
  height: 70px;
  line-height: 0px;
  float: left;
}
.header .header-left img {
  margin-top: 15px;
  margin-left: 15px;
}
.header .header-right {
  font-size: 14px;
  float: right;
}
.header .header-right .header-right-l {
  float: left;
}
.header .header-right .header-right-l ul li {
  display: inline-block;
}
.header .header-right .header-right-l ul li a {
  display: block;
  width: 100px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  transition: all .4s;
}
.header .header-right .header-right-l ul li:hover, .header .header-right .header-right-l ul li.active {
  background: #0a67c4;
}
.header .header-right .header-right-l ul li.disabled a {
  color: #5d88c5;
  cursor: not-allowed;
}
.header .header-right .header-right-r {
  position: relative;
  float: right;
  color: #fff;
  line-height: 70px;
  margin-left: 40px;
}
.header .header-right .header-right-r i {
  color: #999;
  transition: all .4s;
}
.header .header-right .header-right-r:hover i {
  transform: rotate(180deg);
}
.header .header-right .header-right-r:hover i + ul {
  display: block;
}
.header .header-right .header-right-r ul {
  position: absolute;
  top: 66px;
  right: 0;
  display: none;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px 0 #666;
}
.header .header-right .header-right-r ul li {
  padding: 10px 0;
  line-height: 20px;
}
.header .header-right .header-right-r ul li.line {
  border-bottom: 1px solid #eeeeee;
}
.header .header-right .header-right-r ul li.line a {
  color: #666;
}
.header .header-right .header-right-r ul li a {
  display: inline-block;
  width: 58px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  border-radius: 2px;
}

.left {
  position: relative;
  width: 200px;
  font-size: 14px;
  color: #666;
  padding-top: 20px;
  float: left;
  z-index: 8;
  background: #fff;
}
.left ul li > span {
  position: relative;
  display: block;
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  border: 1px solid #fff;
  border-bottom: 1px solid #eeeeee;
  border-right: none;
  z-index: 2;
}
.left ul li > span i {
  display: block;
  line-height: 50px;
  color: #999;
  font-size: 26px;
  float: right;
}
.left ul li > div {
  position: absolute;
  left: 201px;
  top: 0px;
  display: none;
  width: 752px;
  min-height: 400px;
  padding: 20px;
  border: 1px solid #db6b80;
  background: #fff;
}
.left ul li > div dl {
  line-height: 36px;
  overflow: hidden;
}
.left ul li > div dl dt {
  width: 160px;
  text-align: right;
  float: left;
  cursor: pointer;
}
.left ul li > div dl dt span {
  color: #db6b80;
}
.left ul li > div dl dt i {
  position: relative;
  top: 3px;
  color: #999;
  font-size: 26px;
  margin: 0 10px;
}
.left ul li > div dl dd {
  width: 588px;
  float: left;
  font-size: 12px;
  color: #999;
  line-height: 36px;
}
.left ul li > div dl dd a {
  display: inline-block;
  color: #999;
  cursor: pointer;
}
.left ul li > div dl dd a:hover {
  text-decoration: underline;
}
.left ul li > div dl dd i {
  margin: 0 5px;
  color: #999;
  font-style: normal;
}
.left ul li:hover > span {
  border: 1px solid #db6b80;
  border-right: 1px solid #fff;
}
.left ul li:hover > div {
  display: block;
}

.right {
  width: 780px;
  height: 500px;
  float: right;
}

/*********** 登录 ***********/
.login {
  background: url(../images/login_bg.png) no-repeat;
  background-size: cover;
  min-height: 750px;
}
.login form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 430px;
  margin-top: -215px;
  margin-left: -265px;
  background: #fff;
  box-shadow: 0 0 15px 0 #444;
  border-radius: 4px;
}
.login form .login-main {
  margin-top: 25px;
}
.login form .login-row {
  width: 330px;
  height: 40px;
  line-height: 40px;
  margin: 0px auto;
  margin-bottom: 15px;
}
.login form .login-row label {
  display: inline-block;
  width: 66px;
  text-align: right;
  margin-right: 25px;
  font-weight: bold;
  color: #333;
}
.login form .login-row .login-text {
  width: 200px;
}
.login form .login-checkbox {
  position: relative;
  top: -7px;
  margin-left: 96px;
  color: #999;
}
.login form .login-checkbox input {
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 2;
}
.login form .login-checkbox input:checked + i {
  background: url(../images/icons.png) -4px -11px no-repeat;
}
.login form .login-checkbox i {
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #b5b5b5;
}
.login form .login-checkbox span {
  margin-left: 26px;
}
.login form .login-btns {
  text-align: center;
}
.login form .login-btns a {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border: none;
  out: none;
  margin: 0 5px;
  transition: all .4s;
}
.login form .login-btns a:first-child {
  background: #4ba5ff;
}
.login form .login-btns a:first-child:hover, .login form .login-btns a:first-child.active {
  background: #1765b3;
}
.login form .login-btns a:last-child {
  background: #959595;
}
.login form .login-btns a:last-child:hover {
  background: #726969;
}
.login form .login-reg {
  margin-top: 10px;
  color: #999;
}
.login form .login-reg a {
  color: #6bdb88;
}
.login form .login-reg a:hover {
  text-decoration: underline;
}
.login form .login-error {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #db6b80;
  color: #fff;
}
.login form .login-error i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons.png) -1px -33px no-repeat #fff;
  border-radius: 100%;
  margin-right: 5px;
}

h1 {
  height: 80px;
  line-height: 98px;
  background: #095eb3;
  text-align: center;
}

.login-text {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid #f1f1f1;
  outline: none;
  transition: all .4s;
}
.login-text.reg-error {
  margin-left: 0 !important;
}

.login-text:focus {
  border: 1px solid #db6b80;
}

/*********** 注册 ***********/
.reg {
  position: absolute;
  top: 50% !important;
  left: 50%;
  width: 670px !important;
  height: 745px !important;
  margin-top: -372px !important;
  margin-left: -335px !important;
  background: #fff !important;
  box-shadow: 0 0 15px 0 #444 !important;
  border-radius: 4px !important;
}
.reg .reg-title {
  height: 86px;
  line-height: 86px;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
}
.reg .reg-title .reg-title-left {
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: #333;
  float: left;
}
.reg .reg-title .reg-title-right {
  width: 300px;
  text-align: right;
  color: #999;
  float: right;
}
.reg .reg-title .reg-title-right a {
  display: inline-block;
  width: 124px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background: #4ba5ff;
  font-size: 18px;
  margin: 0 10px;
}
.reg .reg-title .reg-title-right a:hover {
  background: #1765b3;
}

.reg-main {
  padding: 0 10px;
  margin-top: 10px;
  height: 660px;
  overflow-y: auto;
}
.reg-main .reg-row {
  margin: 10px auto;
  width: 642px;
  height: 40px;
  line-height: 46px;
}
.reg-main .reg-row .login-text {
  width: 200px;
}
.reg-main .reg-row .reg-text {
  display: inline-block;
  width: 88px;
  font-weight: bold;
  text-align: right;
  color: #333;
  padding-right: 15px;
}
.reg-main .reg-row .reg-text i {
  font-style: normal;
  color: #ed1c1c;
  margin-right: 2px;
}
.reg-main .reg-row .login-text + label {
  color: #999;
  margin-left: 5px;
}
.reg-main .reg-row .login-text + label i {
  position: relative;
  top: 3px;
  display: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 5px;
}
.reg-main .reg-row .login-text.error + label {
  color: #f5153f;
}
.reg-main .reg-row .login-text.error + label i {
  display: inline-block;
  background: url(../images/icons.png) -1px -58px no-repeat #f5153f;
}
.reg-main .reg-row .login-text.valid + label i {
  display: inline-block;
  background: url(../images/icons.png) -1px -85px no-repeat #6bdb88;
}
.reg-main .reg-row .login-text.valid + label strong {
  display: none;
}
.reg-main .reg-row label {
  display: inline-block !important;
  position: relative;
  margin-right: 20px;
}
.reg-main .reg-row label input {
  position: absolute;
  top: 14px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  z-index: 2;
  opacity: 0;
}
.reg-main .reg-row label input:checked + i:after {
  position: absolute;
  top: 4px;
  left: 4px;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #5ebf78;
  border-radius: 100%;
}
.reg-main .reg-row label i {
  position: absolute;
  top: 14px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: #6bdb88;
  border-radius: 100%;
}
.reg-main .reg-row label span {
  margin-left: 20px;
}
.reg-main .reg-row select {
  width: 222px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}
.reg-main .reg-code {
  display: table;
  position: relative;
}
.reg-main .reg-code .login-text {
  width: 110px;
}
.reg-main .reg-code img {
  position: relative;
  top: -1px;
  width: 80px;
  height: 38px;
  vertical-align: middle;
  margin-left: 5px;
}
.reg-main .reg-code label {
  position: absolute;
  left: 330px;
}
.reg-main .reg-checkbox {
  display: inline-block;
  position: relative;
}
.reg-main .reg-checkbox input {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  z-index: 2;
  opacity: 0;
}
.reg-main .reg-checkbox input:checked + i {
  background: url(../images/icons.png) -1px -85px no-repeat #45d48f;
}
.reg-main .reg-checkbox i {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: #45d48f;
}
.reg-main .reg-checkbox span {
  margin-left: 20px;
}
.reg-main .reg-checkbox span a {
  color: #00a0e9;
}
.reg-main .reg-checkbox span a:hover {
  text-decoration: underline;
}
.reg-main input[type="submit"] {
  width: 222px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background: #00a0e9;
  border: none;
  outline: none;
  transition: all .4s;
  margin-bottom: 40px;
}
.reg-main input[type="submit"]:hover, .reg-main input[type="submit"].active {
  background: #1481b3;
}

.reg-success {
  display: none;
}

.reg-success-body {
  width: 260px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}
.reg-success-body .reg-success-img i {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../images/icons.png) -30px 15px no-repeat #e54260;
  border-radius: 100%;
  box-shadow: 0 0 15px 10px #ffecf0;
}
.reg-success-body .reg-success-img span {
  display: block;
  line-height: 40px;
  font-size: 18px;
  color: #00a0e9;
}
.reg-success-body .reg-success-img .reg-line {
  line-height: 0;
  display: block;
  height: 1px;
  margin: 10px 0;
  background: -webkit-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
  background: -o-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
  background: -moz-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
  background: linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
}
.reg-success-body .reg-success-mes {
  margin: 30px 0;
  line-height: 24px;
  font-size: 14px;
}
.reg-success-body .reg-success-btns a {
  display: inline-block;
  width: 170px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #00a0e9;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 10px 0 #8db6c9;
}
.reg-success-body.reg-error .reg-success-img i {
  background-position: -29px -69px;
}
.reg-success-body.reg-error .reg-success-img span {
  color: #db6b80;
}

/*********** 数据中心 ***********/
.banner-img {
  width: 100%;
  margin: 2px 0;
  border-radius: 4px;
}

.data {
  overflow: hidden;
  box-shadow: 0 0 5px 0 #ddd;
  padding: 5px;
  margin-bottom: 40px;
}
.data .right-history ul {
  padding: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}
.data .right-history ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: left;
}
.data .right-history ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #4ba5ff;
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.data .right-history ul li a img {
  margin-left: 10px;
}

/*********** detail ***********/
.right-body {
  height: auto;
}

.ifm {
  min-width: auto;
}

.database-box .database-title {
  padding: 30px 20px;
}
.database-box h2 {
  font-size: 18px;
  color: #333;
  text-indent: 2em;
}
.database-box .database-main {
  padding: 0px 20px;
}
.database-box .database-main p {
  text-indent: 2em;
  line-height: 24px;
  color: #999;
  font-size: 14px;
}
.database-box .database-main table {
  min-width: 100%;
}
.database-box .database-main table tr th, .database-box .database-main table tr td {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.database-box .database-main table tr th:last-child, .database-box .database-main table tr td:last-child {
  border-right: 1px solid #ddd;
}
.database-box .database-main table tr th {
  color: #333;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.database-box .database-main table tr td {
  color: #999;
}

.detail .detail-bar {
  height: 40px;
  line-height: 40px;
  background: #f8f8f8;
  color: #999;
  margin: 10px 5px;
}
.detail .detail-bar span {
  margin-left: 10px;
}
.detail .detail-bar strong {
  color: #db6b80;
}
.detail .table-screen {
  position: relative;
  color: #999;
  line-height: 40px;
  margin: 0 5px;
}
.detail .table-screen .table-screen-bar {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #eeeeee;
  z-index: 2;
}
.detail .table-screen .table-screen-bar .screen-select-btns button {
  height: 41px;
  line-height: 40px;
  padding: 0 10px;
  color: #999;
  border: 1px solid transparent;
  background: none;
}
.detail .table-screen .table-screen-bar .screen-select-btns button.active {
  border-color: #eeeeee;
  border-bottom-color: #fff;
}
.detail .table-screen .table-screen-bar .screen-select-btns button.active i {
  background: url(../images/icons.png) -1px -169px no-repeat;
}
.detail .table-screen .table-screen-bar .screen-select-btns button i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icons.png) -1px -206px no-repeat;
  position: relative;
  top: 3px;
  margin-left: 5px;
}
.detail .table-screen .table-screen-bar .table-screen-btns {
  float: right;
}
.detail .table-screen .table-screen-bar .table-screen-btns button {
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  outline: none;
  border: none;
  margin-left: 20px;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(1) {
  background: #4ba5ff;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(1):hover {
  background: #1765b3;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(2) {
  background: #45d48f;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(2):hover {
  background: #27a166;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(3) {
  background: #db6b80;
}
.detail .table-screen .table-screen-bar .table-screen-btns button:nth-child(3):hover {
  background: #b34358;
}
.detail .table-screen .table-screen-bar .table-screen-btns button i {
  margin-right: 5px;
}
.detail .table-screen .screen-select-slide {
  margin-bottom: 10px;
}
.detail .table-screen .slide-box {
  position: relative;
  display: none;
  height: 350px;
  top: -1px;
  border: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-body {
  padding: 20px 0;
  height: 268px;
}
.detail .table-screen .slide-box .slide-body .slide-code-item {
  display: inline-block;
  width: 184px;
  height: 280px;
  float: left;
  border: 1px solid #eeeeee;
  margin: 0 15px;
  overflow-y: auto;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-result {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-result span {
  color: #db6b80;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-list ul {
  height: 208px;
  padding-left: 15px;
  overflow-y: auto;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-list i {
  color: #ddd;
  font-size: 14px;
  margin: 0 10px;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-list i.active {
  color: #4ba5ff;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-list .code-all {
  padding-left: 15px;
  border-top: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-body .slide-code-item .code-list .code-all i.active {
  color: #4ba5ff;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle {
  display: inline-block;
  width: 66px;
  height: 250px;
  float: left;
  margin: 0 15px;
  padding-top: 30px;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button {
  width: 60px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #ddd;
  margin: 5px 0;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(1), .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(2) {
  background: #c9d8e6;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(1).active, .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(2).active {
  background: #4ba5ff;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(1).active:hover, .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(2).active:hover {
  background: #1765b3;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(3), .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(4) {
  background: #e6c9cd;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(3).active, .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(4).active {
  background: #db6b80;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(3).active:hover, .detail .table-screen .slide-box .slide-body .slide-code-handle button:nth-child(4).active:hover {
  background: #b34358;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:last-child {
  font-size: 14px;
  background: #4ba5ff;
}
.detail .table-screen .slide-box .slide-body .slide-code-handle button:last-child:hover {
  background: #1765b3;
}
.detail .table-screen .slide-box .slide-fields-body {
  padding: 20px 0;
  height: 268px;
  overflow-y: auto;
}
.detail .table-screen .slide-box .slide-fields-body span {
  display: inline-block;
  width: 130px;
  padding-left: 20px;
}
.detail .table-screen .slide-box .slide-fields-body span i {
  position: relative;
  top: 2px;
  width: 32px;
  font-size: 16px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
.detail .table-screen .slide-box .slide-foot {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-top: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code label {
  display: inline-block;
  position: relative;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code label input {
  position: relative;
  width: 220px;
  height: 28px;
  border: 1px solid #eeeeee;
  z-index: 2;
  opacity: 0;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code label span {
  position: absolute;
  top: 4px;
  left: 59px;
  display: block;
  width: 220px;
  line-height: 28px;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code label span i {
  display: inline-block;
  width: 180px;
  height: 28px;
  border: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code label span strong {
  position: absolute;
  right: 0;
  top: 1px;
  color: #db6b80;
}
.detail .table-screen .slide-box .slide-foot.slide-foot-code a {
  background: #db6b80;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  margin-left: 20px;
}
.detail .table-screen .slide-box .slide-fields-foot {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-top: 1px solid #eeeeee;
}
.detail .table-screen .slide-box .slide-fields-foot span {
  margin-right: 20px;
}
.detail .table-screen .slide-box .slide-fields-foot i {
  position: relative;
  top: 2px;
  width: 32px;
  font-size: 16px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
.detail .table-screen .slide-box .slide-fields-foot a {
  padding: 3px 8px;
  background: #db6b80;
  color: #fff;
  border-radius: 2px;
}
.detail .table-screen .slide-box #tree li a {
  color: #999;
}
.detail .table-screen .slide-box .checkbox_false_full, .detail .table-screen .slide-box .checkbox_false_full_focus {
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #ddd;
}
.detail .table-screen .slide-box .checkbox_false_full:before, .detail .table-screen .slide-box .checkbox_false_full_focus:before {
  content: "\f096";
}
.detail .table-screen .slide-box .checkbox_true_full, .detail .table-screen .slide-box .checkbox_true_full_focus, .detail .table-screen .slide-box .checkbox_true_part {
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
}
.detail .table-screen .slide-box .checkbox_true_full:before, .detail .table-screen .slide-box .checkbox_true_full_focus:before, .detail .table-screen .slide-box .checkbox_true_part:before {
  content: "\f14a";
  color: #4ba5ff;
}
.detail .table-screen .slide-box .noline_close {
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #4ba5ff;
  text-align: left;
  line-height: 18px;
}
.detail .table-screen .slide-box .noline_close:before {
  content: "\f0da";
}
.detail .table-screen .slide-box .noline_open {
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #4ba5ff;
  text-align: left;
  line-height: 18px;
}
.detail .table-screen .slide-box .noline_open:before {
  content: "\f0d7";
}
.detail .table-screen .slide-box .slide-code-title input {
  height: 36px;
  padding: 0 11px;
  margin: 5px;
  outline: none;
  border: 1px solid #eeeeee;
  transition: all .4s;
}
.detail .table-screen .slide-box .slide-code-title input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.detail .table-screen .slide-box.slide-box-cdt {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.detail .table-screen .slide-box .slide-body-cdt {
  padding-top: 5px;
}
.detail .table-screen .slide-box .cdt-box {
  background: #eeeeee;
  margin: 0 5px;
  padding: 5px 10px;
}
.detail .table-screen .slide-box .cdt-box .cdt-item {
  display: inline-block;
  margin-right: 10px;
  color: #666;
}
.detail .table-screen .slide-box .cdt-box .cdt-item select {
  width: 160px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  border: 1px solid #e1e1e1;
  color: #999;
}
.detail .table-screen .slide-box .cdt-box .cdt-item select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.detail .table-screen .slide-box .cdt-box .cdt-item a {
  display: inline-block;
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #4ba5ff;
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}
.detail .table-screen .slide-box .cdt-box .cdt-item a:hover {
  background: #1765b3;
}
.detail .table-screen .slide-box .cdt-list {
  padding: 5px;
  height: 207px;
  margin-top: 10px;
  overflow-y: auto;
}
.detail .table-screen .slide-box .cdt-list table {
  width: 100%;
}
.detail .table-screen .slide-box .cdt-list table th {
  border-bottom: 2px solid #eeeeee;
  color: #333;
}
.detail .table-screen .slide-box .cdt-list table td {
  line-height: 30px;
  border-bottom: 1px solid #eeeeee;
  color: #999;
}
.detail .table-screen .slide-box .cdt-list table td a {
  color: #db6b80;
}
.detail .table-screen .slide-box .cdt-list table tr:hover {
  background: #f9f9f9;
}
.detail .detail-table .dataTables_info {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #f8f8f8;
  padding-left: 10px;
}

.filed-dialog {
  position: absolute;
  top: 126px;
  left: 12px;
  display: none;
  width: 680px;
  height: 210px;
  padding: 20px;
  padding-top: 0px;
  background: #fff;
  z-index: 100;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 36px 0 #999;
}
.filed-dialog .filed-dialog-top {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.filed-dialog .filed-dialog-top i {
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  color: #999;
  background: url(../images/icons.png) -2px -125px no-repeat;
  margin-top: 18px;
  cursor: pointer;
}
.filed-dialog .filed-dialog-body {
  height: 160px;
  overflow-y: auto;
}
.filed-dialog .filed-dialog-body table {
  width: 100%;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}
.filed-dialog .filed-dialog-body table th {
  background: #eee;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  color: #333;
}
.filed-dialog .filed-dialog-body table td {
  height: 36px;
  border-bottom: 1px solid #e5e5e5;
}

/*********** 新闻中心 ***********/
.new-wrapper {
  padding: 0;
}

.news-menu {
  position: relative;
  width: 200px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  padding-top: 20px;
  float: left;
  z-index: 88;
  background: #fff;
}

div.expandable-hitarea {
  position: relative;
  top: 7px;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  background: none;
  background-image: none !important;
  font-size: 12px;
  line-height: 16px !important;
  text-align: center;
  color: #999;
}
div.expandable-hitarea:before {
  content: "\f105";
}

div.collapsable-hitarea {
  position: relative;
  top: 7px;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  background: none !important;
  font-size: 12px;
  line-height: 16px !important;
  text-align: center;
  transition: all .4s;
  transform: rotate(90deg);
}
div.collapsable-hitarea:before {
  content: "\f105";
}

.filetree {
  color: #666;
  font-size: 12px;
}
.filetree > li {
  position: relative;
}
.filetree > li > div.expandable-hitarea {
  position: relative;
  top: 6px;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  background: none;
  font-size: 20px;
  color: #999;
}
.filetree > li > div.expandable-hitarea:before {
  content: "\f105";
}
.filetree > li > div.collapsable-hitarea {
  position: relative;
  top: 6px;
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  background: none;
  font-size: 20px;
  color: #4ba5ff;
  transition: all .4s;
  transform: rotate(90deg);
}
.filetree > li > div.collapsable-hitarea:before {
  content: "\f105";
}
.filetree > li > div.collapsable-hitarea + span {
  color: #4ba5ff;
}
.filetree > li > span {
  display: block;
  text-align: center;
  color: #333;
  font-size: 13px;
}
.filetree > li > li > span {
  color: #333;
}
.filetree > li > ul > li > div.expandable-hitarea {
  position: relative;
  top: 9px;
  width: 10px;
  height: 10px;
  line-height: 10px !important;
  font: normal normal normal 14px/1 FontAwesome;
  background: none;
  color: #999;
  border: 1px solid #999;
  transform: rotate(0deg);
  transition: none;
}
.filetree > li > ul > li > div.expandable-hitarea:before {
  content: "+";
}
.filetree > li > ul > li > div.collapsable-hitarea {
  position: relative;
  top: 9px;
  width: 10px;
  height: 10px;
  line-height: 10px !important;
  font: normal normal normal 14px/1 FontAwesome;
  background: none;
  font-size: 20px;
  color: #999;
  border: 1px solid #999;
  transform: rotate(0deg);
  transition: none;
}
.filetree > li > ul > li > div.collapsable-hitarea:before {
  content: "-";
}
.filetree a {
  color: #999;
}

.treeview .hover {
  color: #4ba5ff;
}

.news .news-top {
  padding: 5px 10px;
  border-bottom: 1px solid #eeeeee;
}
.news .new-form-item {
  display: inline-block;
  margin-right: 15px;
}
.news .new-form-item input[type="text"] {
  width: 88px;
  height: 32px;
  padding: 0 5px;
  outline: none;
  border: 1px solid #eeeeee;
  margin: 0;
}
.news .new-form-item select {
  width: 88px;
  height: 32px;
}
.news .new-form-item .new-btn {
  display: inline-block;
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
}
.news .new-form-item .new-btn.search {
  background: #4ba5ff;
}
.news .new-form-item .new-btn.search:hover {
  background: #1765b3;
}
.news .new-form-item .new-btn.reset {
  background: #45d48f;
}
.news .new-form-item .new-btn.reset:hover {
  background: #208956;
}
.news .new-form-item .new-btn.export {
  background: #dc6a81;
}
.news .new-form-item .new-btn.export:hover {
  background: #b45a6c;
}
.news .new-body .new-item {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}
.news .new-body .new-item h3 {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
.news .new-body .new-item h3.active {
  color: #1b64ae;
}
.news .new-body .new-item:nth-child(even) {
  background: #f9f9f9;
}
.news .new-body .new-item:nth-child(even) a {
  color: #666;
}
.news .new-body .new-item a {
  line-height: 22px;
  color: #999;
}
.news .new-body .new-item a:hover {
  color: #db6b80;
  text-decoration: underline;
}

.new-page {
  margin: 15px 0;
  text-align: right;
}
.new-page .page {
  display: inline-block;
}
.new-page .page a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dcdcdc;
  float: left;
  border-left: none;
}
.new-page .page a:first-child {
  border-left: 1px solid #dcdcdc;
}
.new-page .page a.active {
  background: #45d48f;
  color: #fff;
}

/*********** 新闻详情 ***********/
.new {
  min-height: 100%;
}
.new .wrapper {
  padding: 50px 20px;
  background: #fff;
  min-height: 100%;
}
.new .new-title {
  text-align: center;
}
.new .new-title h2 {
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
.new .new-title span {
  color: #999;
}
.new .new-detail {
  color: #999;
  line-height: 24px;
}
.new .new-detail p {
  margin: 20px 0;
}

.new-bg {
  background: #f8f8f8;
  min-height: 100%;
}
