@charset "UTF-8";
@import 'base';

$blue: #4ba5ff;
$blueHover: #1765b3;
$blueText: #00a0e9;
$headerBg: #095eb3;
$red: #db6b80;
$borderColor: #eeeeee;

html {
    min-width: 1000px;
    height: 100%;
}

body {
    font-size: 12px;
    font-family: '微软雅黑';
    color: #666;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.blueBg {
    background: $blue;
}
.warningBg {
    background: $red;
}

/*********** common ***********/
.wrapper {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header {
    height: 70px;
    background: $headerBg;
    clear: both;
    .wrapper {
        padding: 0 10px;
        height: 70px;
    }
    .header-left {
        width: 300px;
        height: 70px;
        line-height: 0px;
        float: left;
        img {
            margin-top: 15px;
            margin-left: 15px;
        }
    }
    .header-right {
        font-size: 14px;
        float: right;
        .header-right-l {
            float: left;
            ul {
                li {
                    display: inline-block;
                    a {
                        display: block;
                        width: 100px;
                        color: #fff;
                        line-height: 70px;
                        text-align: center;
                        transition: all .4s;
                        &:hover {
                            background: #0a67c4;
                        }
                    }
                }
            }
        }
        .header-right-r {
            position: relative;
            float: right;
            color: #fff;
            line-height: 70px;
            margin-left: 40px;
            i {
                color: #999;
                transition: all .4s;
            }
            &:hover i {
                transform: rotate(180deg);
                & + ul {
                    display: block; 
                }
            }
            ul {
                position: absolute;
                top: 66px;
                right: 0;
                display: none;
                width: 120px;
                text-align: center;
                border-radius: 4px;
                background: #fff;
                box-shadow: 0 0 10px 0 #666;
                li {
                    padding: 10px 0;
                    line-height: 20px;
                    &.line {
                        border-bottom: 1px solid $borderColor;
                        a {
                            color: #666;
                        }
                    }
                    a {
                        display: inline-block;
                        width: 58px;
                        height: 26px;
                        text-align: center;
                        line-height: 26px;
                        color: #fff;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

}

.left {
    position: relative;
    width: 200px;
    font-size: 14px;
    color: #666;
    padding-top: 20px;
    float: left;
    z-index: 88;
    background: #fff;
    ul {
        li {
            & > span {
                position: relative;
                display: block;
                width: 180px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                padding: 0 10px;
                border: 1px solid #fff;
                border-bottom: 1px solid $borderColor;
                border-right: none;
                z-index: 2;
                i {
                    display: block;
                    line-height: 50px;
                    color: #999;
                    font-size: 26px;
                    float: right;
                }
            }
            & > div {
                position: absolute;
                left: 201px;
                top: 0px;
                display: none;
                width: 752px;
                min-height: 400px;
                padding: 20px;
                border: 1px solid $red;
                background: #fff;
                dl {
                    line-height: 36px;
                    overflow: hidden;
                    dt {
                        width: 160px;
                        text-align: right;
                        float: left;
                        span {
                            color: $red;
                        }
                        i {
                            position: relative;
                            top: 3px;
                            color: #999;
                            font-size: 26px;
                            margin: 0 10px;
                        }
                    }
                    dd {
                        width: 588px;
                        float: left;
                        font-size: 12px;
                        color: #999;
                        line-height: 36px;
                        a {
                            display: inline-block;
                            color: #999;
                        }
                        i {
                            margin: 0 5px;
                            color: #999;
                            font-style: normal;
                        }
                    }
                } 
            }
            &:hover {
                & > span {
                    border: 1px solid $red;
                    border-right: 1px solid #fff;
                }
                & > div {
                    display: block;
                }
            }
        }
    }
}
.right {
    width: 780px;
    height: 500px;
    float: right;
}

/*********** 登录 ***********/
.login {
    background: url(../images/login_bg.png) no-repeat;
    background-size: cover;
}
h1 {
    height: 80px;
    line-height: 98px;
    background: #095eb3;
    text-align: center;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 430px;
    margin-top: -215px;
    margin-left: -265px;
    background: #fff;
    box-shadow: 0 0 15px 0 #444;
    border-radius: 4px;
    .login-main {
        margin-top: 25px;
    }
    .login-row {
        width: 330px;
        height: 40px;
        line-height: 40px;
        margin: 0px auto;
        margin-bottom: 15px;
        label {
            display: inline-block;
            width: 66px;
            text-align: right;
            margin-right: 25px;
            font-weight: bold;
            color: #333;
        }
        .login-text {
            width: 200px;
        }
    }
    .login-checkbox {
        position: relative;
        top: -7px;
        margin-left: 96px;
        color: #999;
        input {
            position: absolute;
            left: 0;
            top: 12px;
            display: block;
            width: 16px;
            height: 16px;
            opacity: 0;
            z-index: 2;
            &:checked + i {
                background: url(../images/icons.png) -4px -11px no-repeat;
            }
        }
        i {
            position: absolute;
            left: 0;
            top: 12px;
            display: block;
            width: 14px;
            height: 14px;
            border: 1px solid #b5b5b5;
        }
        span {
            margin-left: 26px;
        }
    }
    .login-btns {
        text-align: center;
        a {
            display: inline-block;
            width: 120px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border: none;
            out: none;
            margin: 0 5px;
            transition: all .4s;
            &:first-child {
                background: $blue;
                &:hover {
                    background: $blueHover;
                }
            }
            &:last-child {
                background: #959595;
                &:hover {
                    background: #726969;
                }
            }
        }
    }
    .login-reg {
        margin-top: 10px;
        color: #999;
        a {
            color: #6bdb88;
            &:hover {
                text-decoration: underline;
            } 
        }
    }
    .login-error {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 46px;
        line-height: 46px;
        text-align: center;
        background: #db6b80;
        color: #fff;
        i {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../images/icons.png) -1px -33px no-repeat #fff;
            border-radius: 100%;
            margin-right: 5px;
        }
    }
}
.login-text {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border: 1px solid #f1f1f1;
    outline: none;
    transition: all .4s;
}
.login-text:focus {
    border: 1px solid #db6b80;
}

/*********** 注册 ***********/
.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 600px;
    margin-top: -300px;
    margin-left: -325px;
    background: #fff;
    box-shadow: 0 0 15px 0 #444;
    border-radius: 4px;
    .reg-title {
        height: 86px;
        line-height: 86px;
        padding: 0 10px;
        border-bottom: 1px solid #eee;
        .reg-title-left {
            width: 200px;
            text-align: center;
            font-size: 18px;
            color: #333;
            float: left;
        }
        .reg-title-right {
            width: 300px;
            text-align: right;
            color: #999;
            float: right;
            a {
                display: inline-block;
                width: 124px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                color: #fff;
                background: $blue;
                font-size: 18px;
                margin: 0 10px;
                &:hover {
                    background: $blueHover;
                }
            }
        }
    }
}
.reg-main {
    padding: 0 10px;
    margin-top: 10px;
    height: 480px;
    overflow-y: auto;
    .reg-row {
        margin: 10px auto;
        width: 500px;
        height: 40px;
        line-height: 46px;
        .login-text {
            width: 200px;
        }
        .reg-text {
            display: inline-block;
            width: 88px;
            font-weight: bold;
            text-align: right;
            color: #333;
            padding-right: 15px;
            i {
                font-style: normal;
                color: #ed1c1c;
                margin-right: 2px;
            }
        }
        .reg-error {
            color: #999;
            margin-left: 5px;
            i {
                position: relative;
                top: 3px;
                display: none;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                margin-right: 5px;
            }
            &.active {
                color: #f5153f;
                i {
                    display: inline-block;
                    background: url(../images/icons.png) -1px -58px no-repeat #f5153f;
                }

            }
            &.success {
                i {
                    display: inline-block;
                    background: url(../images/icons.png) -1px -85px no-repeat #6bdb88;
                }

            }
        }
        label {
            display: inline-block;
            position: relative;
            margin-right: 20px;
            input {
                position: absolute;
                top: 14px;
                left: 0;
                display: block;
                width: 16px;
                height: 16px;
                z-index: 2;
                opacity: 0;
                &:checked + i {
                    &:after {
                        position: absolute;
                        top: 4px;
                        left: 4px;
                        content: '';
                        display: block;
                        width: 8px;
                        height: 8px;
                        background: #5ebf78;
                        border-radius: 100%;
                    }
                }
            }
            i {
                position: absolute;
                top: 14px;
                left: 0;
                display: block;
                width: 16px;
                height: 16px;
                background: #6bdb88;
                border-radius: 100%;
            }
            span {
                margin-left: 20px;
            }
        }
        select {
            width: 222px;
            height: 36px;
            line-height: 36px;
            padding: 0;
            margin: 0;
            border: 1px solid #ddd;
        }
    }
    .reg-code {
        display: table;
        .login-text {
            width: 110px;
        }
        img {
            position: relative;
            top: -1px;
            width: 80px;
            height: 38px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .reg-checkbox {
        display: inline-block;
        position: relative;
        input {
            position: absolute;
            top: 15px;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            z-index: 2;
            opacity: 0;
            &:checked + i {
                background: url(../images/icons.png) -1px -85px no-repeat #45d48f;
            }
        }
        i {
            position: absolute;
            top: 15px;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            background: #45d48f;
        }
        span {
            margin-left: 20px;
            a {
                color: $blueText;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    input[type="submit"] {
        width: 222px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        background: $blueText;
        border: none;
        outline: none;
        transition: all .4s;
        margin-bottom: 40px;
        &:hover {
            background: #1481b3;
        }
    }
}
.reg-success-body {
    width: 260px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    .reg-success-img {
        i {
            display: inline-block;
            width: 80px;
            height: 80px;
            background: url(../images/icons.png) -50px 10px no-repeat #e54260;
            border-radius: 100%;
            box-shadow: 0 0 15px 10px #ffecf0;
        }
        span {
            display: block;
            line-height: 40px;
            font-size: 18px;
            color: $blueText;
        }
        .reg-line {
            line-height: 0;
            display: block;
            height: 1px;
            margin: 10px 0;
            background: -webkit-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
            background: -o-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
            background: -moz-linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
            background: linear-gradient(left, #fff 0%, #e5e5e5 30%, #e5e5e5 70%, #fff 100%);
        }
    }
    .reg-success-mes {
        margin: 30px 0;
        line-height: 24px;
        font-size: 14px;
    }
    .reg-success-btns {
        a {
            display: inline-block;
            width: 170px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            background: #00a0e9;
            color: #fff;
            font-size: 14px;
            box-shadow: 0 0 10px 0 #8db6c9;
        }
    }
}

/*********** 数据中心 ***********/
.banner-img {
    width: 100%;
    margin: 2px 0;
    border-radius: 4px;
}
.data {
    overflow: hidden;
    box-shadow: 0 0 5px 0 #ddd;
    padding: 5px;
    .right-history {
        ul {
            padding: 5px;
            padding-right: 0px;
            padding-bottom: 0px;
            border-bottom: 1px solid $borderColor;
            overflow: hidden;
            li {
                display: inline-block;
                padding: 0;
                margin: 0;
                float: left;
                a {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    background: $blue;
                    color: #fff;
                    font-size: 14px;
                    padding: 0 10px;
                    margin-bottom: 2px;
                    margin-right: 2px;
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

/*********** detail ***********/
.right-body {
    height: 400px;
    iframe {
        width: 100%;
        height: 100%;
    }
    html {
        min-width: 200px;
    }
    .database-box {
        h2 {
            font-size: 18px;
            color: #333;
        }
    }
}